---
layout: home
category: sac2050
title: Sac2050
tagline: Shaping the future of Sacramento, together.
---

<h1 class="text-center">How are we doing, Sacramento?</h1>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <i class="fa fa-circle fa-improving"></i> Improving
        </div>
        <div class="col-md-3">
          <i class="fa fa-circle fa-steady"></i> Steady
        </div>
        <div class="col-md-3">
          <i class="fa fa-circle fa-worsening"></i> Worsening
        </div>
        <div class="col-md-3">
          <i class="fa fa-circle"></i> Not Reported
        </div>
      </div>

    </div>
  </div>
</div>

  <!-- Row 1 indicators -->
  <div class="row">

    <!-- The Economy -->
    <div class="col-sm-4">
      <div class="panel text-economy">
        <div class="panel-heading text-center">
          <h3 class="panel-title">
            <a href="/economy">
              <i class="fa fa-line-chart lg-icon"></i><br>
              The Economy
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled plain-text">
            {% for indicator in site.data.indicators.economy %}
              <li>
                <a href="/economy#{{ indicator.slug }}" class="text-economy">
                  {{ indicator.name }}
                </a>
                <i class="fa fa-circle fa-{{ indicator.status }} pull-right"></i>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Education -->
    <div class="col-sm-4">
      <div class="panel text-education">
        <div class="panel-heading text-center">
          <h3 class="panel-title">
            <a href="/education">
              <i class="fa fa-graduation-cap lg-icon"></i><br>
              Education
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled plain-text">
            {% for indicator in site.data.indicators.education %}
              <li>
                <a href="/education#{{ indicator.slug }}" class="text-education">
                  {{ indicator.name }}
                </a>
                <i class="fa fa-circle fa-{{ indicator.status }} pull-right"></i>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Health & Families -->
    <div class="col-sm-4">
      <div class="panel text-health-families">
        <div class="panel-heading text-center">
          <h3 class="panel-title">
            <a href="/health-families">
              <i class="fa fa-heartbeat lg-icon"></i><br>
              Health &amp; Families
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled plain-text">
            {% for indicator in site.data.indicators.health-families %}
              <li>
                <a href="/health-families#{{ indicator.slug }}" class="text-health-families">
                  {{ indicator.name }}
                </a>
                <i class="fa fa-circle fa-{{ indicator.status }} pull-right"></i>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  </div><!-- /.row -->

  <!-- Row 2 indicators -->
  <div class="row">

    <!-- Public Safety -->
    <div class="col-sm-4">
      <div class="panel text-public-safety">
        <div class="panel-heading text-center">
          <h3 class="panel-title">
            <a href="/public-safety">
              <i class="fa fa-exclamation-triangle lg-icon"></i><br>
              Public Safety
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled plain-text">
            {% for indicator in site.data.indicators.public-safety %}
              <li>
                <a href="/public-safety#{{ indicator.slug }}" class="text-public-safety">
                  {{ indicator.name }}
                </a>
                <i class="fa fa-circle fa-{{ indicator.status }} pull-right"></i>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Environmental Sustainability -->
    <div class="col-sm-4">
      <div class="panel text-sustainability">
        <div class="panel-heading text-center">
          <h3 class="panel-title">
            <a href="/sustainability">
              <i class="fa fa-tree lg-icon"></i><br>
              Environmental Sustainability
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled plain-text">
            {% for indicator in site.data.indicators.sustainability %}
              <li>
                <a href="/sustainability#{{ indicator.slug }}" class="text-sustainability">
                  {{ indicator.name }}
                </a>
                <i class="fa fa-circle fa-{{ indicator.status }} pull-right"></i>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Transporation & Housing -->
    <div class="col-sm-4">
      <div class="panel text-transportation-housing">
        <div class="panel-heading text-center">
          <h3 class="panel-title">
            <a href="/transportation-housing">
              <i class="fa fa-bus lg-icon"></i><br>
              Transportation &amp; Housing
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled plain-text">
            {% for indicator in site.data.indicators.transportation-housing %}
              <li>
                <a href="/transportation-housing#{{ indicator.slug }}" class="text-transportation-housing">
                  {{ indicator.name }}
                </a>
                <i class="fa fa-circle fa-{{ indicator.status }} pull-right"></i>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  </div><!-- /.row -->
