---
layout: home
title: Sac2050
tagline: Shaping the future of Sacramento, together.
---

<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert"><i class="fa fa-thumbs-up"></i></button>
  <h4>Thanks for visiting Sac2050.org! This site is a work-in-progress.</h4>
  <p>On Saturday, November 14, 2015, ordinary Sacramentans gathered at The Urban Hive in Midtown Sacramento for <a href="https://www.eventbrite.com/e/sac2050-quality-of-life-civic-datathon-tickets-19245356379" class="alert-link" target="_blank">the region's first Quality of Life Civic Datathon</a>. We're adding that data to this website and will continue to iterate. Want to get involved? <a href="mailto:sac2050@codeforsacramento.org" class="alert-link" target="_blank">Hit us up!</a></p>
</div>

<h1 class="text-center">How are we doing, Sacramento?</h1>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <i class="fa fa-circle fa-improving"></i> Improving
        </div>
        <div class="col-md-3">
          <i class="fa fa-circle fa-steady"></i> Steady
        </div>
        <div class="col-md-3">
          <i class="fa fa-circle fa-worsening"></i> Worsening
        </div>
        <div class="col-md-3">
          <i class="fa fa-circle"></i> Not Reported
        </div>
      </div>

    </div>
  </div>
</div>

  <!-- Row 1 indicators -->
  <div class="row">

    <!-- The Economy -->
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading text-center">
          <h3 class="panel-title">
            <a href="/economy">
              <i class="fa fa-line-chart lg-icon"></i><br>
              The Economy
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            {% for indicator in site.data.indicators.economy %}
              <li>
                <a href="/economy#{{ indicator.slug }}">
                  {{ indicator.name }}
                </a>
                <i class="fa fa-circle fa-{{ indicator.status }} pull-right"></i>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Education -->
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading text-center">
          <h3 class="panel-title">
            <a href="/education">
              <i class="fa fa-graduation-cap lg-icon"></i><br>
              Education
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            {% for indicator in site.data.indicators.education %}
              <li>
                <a href="/education#{{ indicator.slug }}">
                  {{ indicator.name }}
                </a>
                <i class="fa fa-circle fa-{{ indicator.status }} pull-right"></i>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Health & Families -->
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading text-center">
          <h3 class="panel-title">
            <a href="/health-families">
              <i class="fa fa-heartbeat lg-icon"></i><br>
              Health &amp; Families
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            {% for indicator in site.data.indicators.health-families %}
              <li>
                <a href="/health-families#{{ indicator.slug }}">
                  {{ indicator.name }}
                </a>
                <i class="fa fa-circle fa-{{ indicator.status }} pull-right"></i>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  </div><!-- /.row -->

  <!-- Row 2 indicators -->
  <div class="row">

    <!-- Public Safety -->
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading text-center">
          <h3 class="panel-title">
            <a href="/public-safety">
              <i class="fa fa-exclamation-triangle lg-icon"></i><br>
              Public Safety
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            {% for indicator in site.data.indicators.public-safety %}
              <li>
                <a href="/public-safety#{{ indicator.slug }}">
                  {{ indicator.name }}
                </a>
                <i class="fa fa-circle fa-{{ indicator.status }} pull-right"></i>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Natural Resources -->
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading text-center">
          <h3 class="panel-title">
            <a href="/sustainability">
              <i class="fa fa-tree lg-icon"></i><br>
              Environmental Sustainability
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            {% for indicator in site.data.indicators.sustainability %}
              <li>
                <a href="/sustainability#{{ indicator.slug }}">
                  {{ indicator.name }}
                </a>
                <i class="fa fa-circle fa-{{ indicator.status }} pull-right"></i>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Transporation & Housing -->
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading text-center">
          <h3 class="panel-title">
            <a href="/transportation-housing">
              <i class="fa fa-bus lg-icon"></i><br>
              Transportation &amp; Housing
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            {% for indicator in site.data.indicators.transportation-housing %}
              <li>
                <a href="/transportation-housing#{{ indicator.slug }}">
                  {{ indicator.name }}
                </a>
                <i class="fa fa-circle fa-{{ indicator.status }} pull-right"></i>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  </div><!-- /.row -->
