<div class="container">
  <h1 class="text-center">Get Involved with Sac2050</h1>
  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user"></i> Individuals</h3>
      </div>
      <div class="panel-body">
        <p class="lead">We're building a community of change agents who want to volunteer their skills for good.</p>
        <a href="/get-involved" class="btn btn-info btn-block"><i class="fa fa-sign-in"></i> Sign Up</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-sitemap"></i> Organizations</h3>
      </div>
      <div class="panel-body">
        <p class="lead">We're connecting an network of civic organizations who want to use data to share their stories of success.</p>
        <a href="/prospective-partner" class="btn btn-info btn-block"><i class="fa fa-sign-in"></i> Sign Up</a>
      </div>
    </div>
  </div>
</div>
