<footer>
 <div class="container">
   <hr>
   <div class="row">
     <div class="col-sm-6">
       <p>Sac2050: Shaping the future of Sacramento, together.<br>
         <small>a <a href="http://codeforsacramento.org">Code for Sacramento</a> project</small></p>
     </div>
     <div class="col-sm-6">
       <ul class="list-unstyled pull-right">
         <li><a href="https://github.com/code4sac/sac2050"><i class="fa fa-github" target="_blank"></i></a></li>
        <li><a href="http://www.meetup.com/code4sac/"><i class="fa fa-calendar" target="_blank"></i></a></li>
         <li><a href="https://www.facebook.com/SAC2050"><i class="fa fa-facebook" target="_blank"></i></a></li>
         <li><a href="https://twitter.com/code4sac"><i class="fa fa-twitter" target="_blank"></i></a></li>
       </ul>
     </div>
   </div>
 </div>
</footer>

<!-- jQuery v1.11.3 (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Bootstrap JS v3.3.5 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
