/* Required body padding for fixed navbar */
body {
  padding-top: 81px;
}

/* Header on category pages */
.page-header {
  margin-top: -21px;
  margin-bottom: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 24px;
  position: relative;
  text-align: center;
  background-color: $brand-primary;
  color: #fff;
}
.page-header h1 {
  font-size: 60px;
  font-weight: bold;
}

/* Home page indicators */
.dashboard {
	padding-top: 40px;
}
.panel {
	border: 0px solid transparent;
	border-radius: 0px;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
	box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.panel-heading {
	border-bottom: 0px solid transparent;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.panel-title {
  font-size: 28px;
	font-weight: 800;
}
.lg-icon {
	font-size: 120px;
}
.fa-improving {
  color: #32cd32;
}
.fa-steady {
  color: #ffc40c;
}
.fa-worsening {
  color: #fa342e;
}
