/* Global styles */
body {
  padding-top: 81px;
  color: #607D8B !important;
}
a:hover {
  color: $brand-primary;
  text-decoration: none;
}
footer {
  margin: 2em 0;
}
footer li {
  float: right;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.5em;
}

/* Sac2050 styles */
.navbar-sac2050, .page-header-sac2050 {
  background-color: $brand-primary;
}

/* Economy styles */
.navbar-economy, .page-header-economy {
  background-color: $brand-economy;
  color: #fff;
}
.text-economy {
  color: $brand-economy;
}

/* Education styles */
.navbar-education, .page-header-education {
  background-color: $brand-education;
}
.text-education {
  color: $brand-education;
}

/* Health & Families styles */
.navbar-health-families, .page-header-health-families {
  background-color: $brand-health-families;
}
.text-health-families {
  color: $brand-health-families;
}

/* Public Safety styles */
.navbar-public-safety, .page-header-public-safety {
  background-color: $brand-public-safety;
}
.text-public-safety {
  color: $brand-public-safety;
}

/* Evironmental Sustainability styles */
.navbar-sustainability, .page-header-sustainability {
  background-color: $brand-sustainability;
}
.text-sustainability {
  color: $brand-sustainability;
}

/* Transportation & Housing styles */
.navbar-transportation-housing, .page-header-transportation-housing {
  background-color: $brand-transportation-housing;
}
.text-transportation-housing {
  color: $brand-transportation-housing;
}

/* Disqus Comments */
#disqus_thread {
  margin-top: 80px;
}

/* Page headers */
.page-header {
  margin-top: -21px;
  margin-bottom: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 24px;
  position: relative;
  text-align: center;
  color: #fff;
}
.page-header h1 {
  font-size: 60px;
  font-weight: bold;
}

/* Padding for anchors */
h2:before {
  display: block;
  content: " ";
  margin-top: -81px;
  height: 81px;
  visibility: hidden;
}

/* Home page indicators */
.dashboard {
	padding-top: 40px;
}
.panel {
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
	box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.panel-title {
  font-size: 28px;
	font-weight: 800;
}
.lg-icon {
	font-size: 120px;
}
.fa-improving {
  color: #32cd32;
}
.fa-steady {
  color: #ffc40c;
}
.fa-worsening {
  color: #fa342e;
}
.fa-unreported {
  color: #607D8B;
}

.cushion-top {
  padding-top: 30px;
}
