---
layout:
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include navbar.html %}

    <!-- Main container -->
    <div class="container">

      {{ content }}

    </div><!-- /.container -->

    <!-- jQuery v1.11.3 (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap JS v3.3.5 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>
</html>
