---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include navbar.html %}

    <div class="page-header page-header-{{ page.category }}">
      <div class="container">
        <h1><span class="sac">Sac</span><span class="year">2050</span></h1>
        <p class="sac">Shaping the future of Sacramento, <strong>together.</strong></p>
      </div>
    </div>

    <!-- Main container -->
    <div class="container">

      {{ content }}

    </div><!-- /.container -->

    {% include footer.html %}

  </body>
</html>
