---
layout:
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include navbar.html %}

    <div class="page-header page-header-{{ page.category }}">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <p>{{ page.tagline }}</p>
        {% include email_signup.html %}
      </div>
    </div>

    <div class="container">
      <div class="alert alert-dismissible alert-info">
        <button type="button" class="close" data-dismiss="alert"><i class="fa fa-thumbs-up"></i></button>
        <h4>Thanks for visiting Sac2050.org! This site is a work-in-progress.</h4>
        <p>We're iteratively developing Sac2050.org into a platform for collective impact. Look for a semi-official beta launch around Fall 2016.
          <br>Need to get in touch? <a href="mailto:hello@sac2050.org" class="alert-link" target="_blank">Hit us up!</a>
        </p>
      </div>
    </div>

    {% include call_to_action.html %}

    <!-- Main container -->
    <div class="container">

      {{ content }}

    </div><!-- /.container -->

    {% include footer.html %}

  </body>
</html>
